.footer {
  width: 100%;
}

.footer-wrap {
  width: 100%;
  background-color: #202e24;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

.footer-top-box {
  width: 1300px;
  height: 35px;
  border-bottom: 1px solid #64856c;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer-top-text {
  display: flex;
  color: #d9d9d9;
  font-size: 12px;
  gap: 10px;
  position: absolute;
  bottom: 10px;
}

.footer-bottom-box {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  /* margin-bottom: 40px; */
}

.footer-bottom-text,
.footer-bottom-right-text {
  color: #d9d9d9;
  font-size: 12px;
}

.footer-bottom-text p:nth-child(1),
.footer-bottom-right-text p:nth-child(1) {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
}

.footer-bottom-right-text p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
}
