.header {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #eaeaea;
}

.layout--main .header {
  border-bottom: none;
}

.header-wrap {
  width: 1300px;
  height: 100px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 127px;
  height: 54px;
  background-image: url("/src/assets/img/logo2.png");
  background-size: cover;
  cursor: pointer;
}

.customSelect {
  position: relative;
  float: left;
  margin-right: 20px;
}

.selectBox {
  width: 90px;
  height: 45px;
  background: white;
  border: 0.5px solid #c4bfbf;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #797979;
}

.placeholder {
  color: #5e5e5e;
}

.black {
  color: black;
}

.selectBox-arrow {
  width: 12px;
  height: 12px;
  background-image: url("../img/selectbox-arrow.png");
}

.optionList {
  width: 90px;
  border: 0.5px solid #c4bfbf;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: calc(100% + 5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: white;
  z-index: 10;
}

.optionList li {
  transition: background-color 0.2s;
  cursor: pointer;
  display: block;
}

.optionList li:hover {
  background-color: #f2f2f2;
}

.disabled {
  color: #aaa;
}

.search-bar-wrap {
  width: 370px;
  height: 45px;
  border: 1px solid #d7d5d5;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search-bar-wrap.focused {
  border-color: #393939;
}

.search-icon {
  width: 25px;
  height: 25px;
  background-image: url("/src/assets/img/icon-search.png");
  background-size: cover;
  margin-left: 20px;
  float: left;
}

.search {
  width: 300px;
  height: 100%;
  outline: none;
  border: none;
  margin-left: 15px;
  color: #393939;
  font-size: 16px;
  background: transparent;
}

.side-menu {
  height: 50px;
  line-height: 50px;
  display: flex;
}

.side-menu button {
  background: none;
  border: none;
  display: block;
  cursor: pointer;
}

.side-menu button:hover p {
  color: #393939;
}

.menu-mypage,
.menu-logIn {
  margin-right: 15px;
}

.menu-mypage-img {
  width: 30px;
  height: 30px;
  background-image: url("/src/assets/img/icon-mypage.png");
}

.menu-logout-img {
  width: 30px;
  height: 30px;
  background-image: url("/src/assets/img/icon-logout.png");
  background-size: cover;
}

.menu-login-img {
  width: 30px;
  height: 30px;
  background-image: url("/src/assets/img/icon-login.png");
  background-size: cover;
}

.menu-membership-img {
  width: 30px;
  height: 30px;
  background-image: url("/src/assets/img/icon-membership.png");
}
