@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrap {
  flex: 1;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

img,
fieldset,
iframe {
  border-style: none;
}

ul,
ol,
li,
dl,
dt,
dd {
  list-style: none;
}

a {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

/* .keyword {
  width: 80px;
  height: 38px;
  border: 1px solid #303030;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  font-weight: bold;
  margin-right: 30px;
} */

.text-wrap {
  height: 65px;
}

.text-wrap p:nth-child(1) {
  color: #8e8e8e;
  font-weight: bold;
}

.book-icon {
  width: 68px;
  height: 68px;
  /* background-color: #8e8e8e; */
  background-image: url("/src/assets/img/icon-book.png");
  float: left;
}

.today-wrap p {
  float: left;
  font-weight: bold;
  font-size: 40px;
  line-height: 68px;
}

.sub-text span {
  font-weight: bold;
}

.book-img {
  width: 350px;
  height: 420px;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 50px;
}

.center-title-wrap {
  width: 300px;
  float: left;
}

.bottom-icons {
  width: 24px;
  height: 24px;
  float: left;
}

.center-title-right-wrap {
  width: 800px;
  float: right;
}

.center-right-wrap {
  font-size: 20px;
  float: right;
}

.center-right-title {
  font-weight: bold;
  font-size: 20px;
  margin: 30px 0;
}

.center-right-box {
  width: 800px;
  height: 173px;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  box-shadow: 3px 2px 10.3px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 80px;
}

.center-right-p {
  width: 50px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 50px;
  margin-right: 20px;
}

.center-right-text p:nth-child(1) {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.center-right-text p:nth-child(2) {
  font-size: 13px;
}

.center-right-text p:nth-child(3) {
  font-size: 12px;
}

/* popup */
/* .popup-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  overflow: hidden;
} */

/* .popup-box {
  width: 650px;
  height: 500px;
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 25px;
  box-sizing: border-box;
} */

/* .popup-container {
  height: 350px;
  overflow: auto;
  margin-bottom: 10px;
  scrollbar-width: thin;
} */

/* .popup-title-wrap {
  height: 30px;
  display: flex;
  margin-bottom: 10px;
} */

/* .popup-title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
} */

/* .popup-sub-p {
  font-size: 12px;
  color: #878787;
} */

/* .popup-title p:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
}

.popup-title p:nth-child(2) {
  font-size: 12px;
  color: #878787;
  line-height: 30px;
} */

/* .popup-sub-title {
  font-size: 17px;
  margin-bottom: 15px;
} */

/* .popup-con {
  width: 580px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
} */

/* .popup-con li {
  width: 135px;
  height: 35px;
  background-color: #dadada;
  border-radius: 30px;
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

/* .popup-con li:hover {
  background-color: #9c9c9c;
  color: white;
} */

/* .popup-con li.selected {
  background-color: #008314;
  color: white;
} */

/* .button-pick {
  width: 90px;
  height: 40px;
  background-color: #dadada;
  display: block;
  border: none;
  color: black;
  float: right;
} */

/* .button-pick.active {
  color: white;
  background-color: #008314;
} */
