.keyword-detail-popup-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  overflow: hidden;
}

.keyword-detail-popup-box {
  width: 600px;
  height: 330px;
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 30px;
  box-sizing: border-box;
}

.keyword-detail-popup-btn-wrap {
  display: flex;
  justify-content: space-between;
}

.keyword-detail-popup-btn-wrap p {
  margin-bottom: 20px;
  color: #2e2e2e;
  font-size: 20px;
}

.keyword-detail-popup-cancel {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-cancel.png);
  background-size: cover;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.keyword-detail-popup-review-box {
  width: 540px;
  height: 180px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  float: left;
  box-shadow: 3px 2px 9.6px 0.5px rgba(116, 116, 116, 0.25);
}

.keyword-detail-popup-review-img {
  width: 40px;
  height: 40px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-right: 30px;
  float: left;
}

.keyword-detail-popup-text-wrap {
  float: left;
}

.keyword-detail-popup-text-wrap p {
  margin-bottom: 20px;
}

.keyword-detail-popup-insert {
  width: 400px;
  height: 90px;
  outline: none;
  display: block;
  border: none;
  resize: none;
  overflow-y: auto;
}

.keyword-detail-popup-save {
  width: 80px;
  height: 30px;
  border: none;
  background-color: #3ab62a;
  color: white;
  cursor: pointer;
  font-size: 13px;
  border: none;
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.keyword-detail-popup-save:hover {
  background-color: #309323;
}
