.review-popup__write {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  overflow: hidden;
}

.review-popup__write-box {
  width: 550px;
  height: 650px;
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 25px;
}

.review-popup__header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
  font-weight: 500;
}

.review-popup__btn {
  border: none;
  background-color: transparent;
}

.review-popup__btn-cancel {
  width: 16px;
  height: 16px;
  background-image: url("../img/book-detail-cancel.png");
  cursor: pointer;
}

.review-popup__book {
  display: flex;
  margin-bottom: 44px;
}

.review-popup__book img {
  width: 119px;
  height: 148px;
  background-color: #004f14;
  display: block;
  /* box-shadow: 0px 4px 17.2px 0px rgb(0, 0, 0, 0.5); */
  margin-right: 56px;
}

.review-popup__book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-popup__book-info p:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.review-popup__book-info p:nth-child(2) {
  font-size: 13px;
  color: #343434;
}

.review-popup__textarea-wrap {
  position: relative;
}

.review-popup__label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.review-popup__textarea {
  width: 100%;
  height: 240px;
  border: 1px solid #eaeaea;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  resize: none;
  font-size: 15px;
  /* color: #555555; */
  color: #333;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.015em;
  font-family: "Noto Sans KR", sans-serif;
}

.review-popup__textarea:focus {
  outline: none;
  border: 1px solid #555555;
}

.review-popup__textarea::placeholder {
  color: #898989;
  font-weight: 500;
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
}

.review-popup__count {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 13px;
  color: #555555;
}

.review-popup__btn-submit {
  width: 167px;
  height: 51px;
  color: white;
  cursor: not-allowed;
  background-color: rgba(36, 143, 143, 0.5);
  border-radius: 5px;
  display: block;
  margin: 25px auto;
}

.review-popup__btn-submit.is-active {
  background-color: rgba(36, 143, 143, 1);
  cursor: pointer;
}
