/* .member-container {
  padding-bottom: 100px;
  overflow: hidden;
} */

/* .member-logo {
  width: 127px;
  height: 54px;
  background-image: url("/src/assets/img/logo2.png");
  background-size: cover;
  cursor: pointer;
  margin: 80px auto;
} */

/* .member-info {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
} */

/* .member-info p {
  margin-right: 10px;
} */

/* .member-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
} */

/* .member-btn:hover {
  text-decoration: underline;
} */

/* .member-wrap {
  width: 550px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid #c9c9c9;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
} */

/* .member-number-text {
  position: absolute;
  top: -30px;
  left: 10px;
  width: 530px;
} */

/* .number {
  float: left;
} */

/* .member-title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
} */

/* 노트북 이하 */
/* @media (max-width: 1600px) {
  .member-logo {
    margin: 50px auto;
  }
} */
