.mypage-header {
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
}

.mypage-icon {
  width: 12px;
  height: 13px;
  background-image: url("../img/keyword-home.png");
  margin-right: 10px;
  margin-top: 5px;
}

.mypage-header__title {
  font-size: 15px;
  color: #454545;
  margin-right: 10px;
}

.mypage-header__title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mypage-header__title.active {
  color: #222;
  font-weight: 500;
}

.mypage-header__arrow {
  width: 12px;
  height: 12px;
  background-image: url("../img/keyword-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
