.mypageInfoAlter-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  overflow: hidden;
}

.mypageInfoAlter-box {
  width: 380px;
  /* height: 300px; */
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypageInfoAlter-title {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 30px;
}

.mypageInfoAlter-input-wrap {
  margin-bottom: 5px;
}

.mypageInfoAlter-input-wrap p:first-child {
  width: 120px;
  font-size: 14px;
  float: left;
  line-height: 25px;
}

.mypageInfoAlter-input-box {
  display: flex;
  align-items: center;
  height: 25px;
  position: relative;
  float: left;
  margin-bottom: 5px;
}

.mypageInfoAlter-input {
  width: 120px;
  height: 25px;
  outline: none;
  border: none;
  border-bottom: 1px solid #4a4a4a;
}

.mypageInfoAlter-input:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.mypageInfoAlter-popup-toggle-visibility {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.mypageInfoAlter-popup-member-pwCheck {
  font-size: 10px;
  /* margin-left: 120px; */

  margin-bottom: 5px;
}

.mypageInfoAlter-popup-member-pwCheck.success {
  color: green;
}

.mypageInfoAlter-popup-member-pwCheck.error {
  color: red;
}

.mypageInfoAlter-button {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mypageInfoAlter-button button {
  width: 40px;
  background: transparent;
  border: 0;
}

.mypageInfoAlter-button button:not(:disabled):hover {
  color: rgb(80, 80, 80);
  cursor: pointer;
}
