.review-success__popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.review-success__popup-box {
  width: 250px;
  padding: 20px;
  box-sizing: border-box;
  height: 50px;
  background-color: rgb(56, 56, 56);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: popup-slide-in 0.3s ease forwards;
  animation-delay: 0.05s;
  white-space: pre-line;
  text-align: center;
}

@keyframes popup-fade-in {
  to {
    opacity: 1;
  }
}

@keyframes popup-slide-in {
  to {
    opacity: 1;
  }
}
