@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Gowun Dodum';
    src: url('./assets/fonts/GowunDodum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'McLaren';
    src: url('./assets/fonts/McLaren-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

/* 웹 표준 초기화 */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrap {
  flex: 1;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

img,
fieldset,
iframe {
  border-style: none;
}

ul,
ol,
li,
dl,
dt,
dd {
  list-style: none;
}

a {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

@layer components {
  .animation-popup {
    @apply fixed bottom-0 left-0 right-0 top-0 z-[99] flex h-full w-full items-center justify-center bg-black/40;
  }

  .animation-box {
    @apply fixed box-border flex flex-col items-center justify-center bg-white delay-[0.05s];
  }

  .animation-fadeIn-popup {
    @apply fixed bottom-0 left-0 right-0 top-0 z-[99] flex h-full w-full animate-popup-bg-fade items-center justify-center bg-black/40 opacity-0;
  }

  .animation-fadeIn-box {
    @apply fixed flex w-[360px] animate-popup-box-fade flex-col justify-center bg-white p-[30px] text-center opacity-0 delay-[0.05s];
  }

  .animation-review-box {
    @apply fixed box-border w-[500px] bg-white p-[30px];
  }

  /* login */
  .input-box {
    @apply mb-[20px] box-border h-[50px] w-[400px] rounded-[5px] border border-borderLightColor p-[15px] text-base laptop-lg:max-w-[350px];
  }

  /* member */
  .member-box {
    @apply mx-auto mb-[15px] box-border h-[150px] border border-[#d0d0d0] p-[15px];
  }

  .member-label {
    @apply mr-[10px] h-5 w-5 cursor-pointer rounded-[50px] border-2 border-borderLightColor bg-icon-check bg-center text-borderLightColor peer-checked:border-pointColor peer-checked:bg-pointColor peer-checked:bg-icon-check-color;
  }

  .check-box {
    @apply mx-auto box-border h-[80px] overflow-auto bg-[#ebebeb] px-[15px] py-[10px] text-[12px];
  }

  .member-btn {
    @apply border bg-gray-100 px-[25px] py-[8px] text-[12px] font-bold text-gray-700;
  }

  .member-btn:hover {
    @apply hover:text-white;
  }

  /* header */
  .side-btn {
    @apply block cursor-pointer border-none bg-none;
  }

  /* main */
  .sub-title-label {
    @apply font-inter text-[17px] font-medium;
  }

  .sub-title-p {
    @apply text-[13px] text-[#636363];
  }

  /* MainFeatures */
  .feature-title-label {
    @apply mb-[10px] text-[16px] font-medium;
  }

  .feature-title-p {
    @apply w-[280px] text-[12px] text-[#373737];
  }

  .nav-link-item {
    @apply mr-[10px] cursor-pointer text-[15px] text-[#454545] hover:underline;
  }

  .nav-link-item.active {
    @apply font-bold text-[#248f8f];
  }

  .mypage-home-btn {
    @apply cursor-pointer border-0 bg-transparent text-[14px] text-[#454545];
  }

  .mypage-nav-arrow {
    @apply h-[30px] w-[30px] rounded-full border-0 bg-white;

    @apply shadow-[3px_2px_9.6px_1px_rgba(0,0,0,0.25)];

    @apply absolute top-[45%] z-10 translate-y-[-50%];

    @apply cursor-pointer opacity-100 transition-opacity duration-300;
  }
}
